
.search_box input
{/*mno es recomndabele colocar un height, conforme incrmneta la 
	cel font zize incrementa l caja*/
	padding: 7px; 
	font-size: 15px;
}
.search_box .fa-search
{
	margin: -25px;
}/*si lo ponia con posicion absoluta puede
 que no haya pasado eso*/
 .estrenos img
 {
 	width: 100%;
 }

 .trailer iframe
 {
 	width: 100%;
 	height: 500px;
 }
 .cartelera img
 {
 	width: 100%;
 	margin-top: 10px;
 }
 
 .hero .banner
 {
 	background:  #383838 url(../img/banner.jpg);
 	background-size: contain;
 	background-repeat: no-repeat;
 }
 .banner img
 {
 	position: relative;
 	left: 170px;
 	top: 150px;
 	width: 40px;

 }
 .hero .movie-info
 {
 	padding-top: 10px;
 	padding-bottom: 20px;
 	text-align: left;
 	color: #d3d3d3;
 	font-size: 12px;
 	height: 320px;	
}
.movie-info table
{
	margin-top: 10px;

}
 .movie-info .all
 {
	border: 1px solid #31B404;
	color: #31B404;
	padding: 3px;
	font-size: 12px;
	border-radius: 10%;
}

.movie-info p
{
	margin: 3px 55px 0 3px;
}
.movie-info h1
{
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	border-bottom: 1px solid #B4B0B0;
	padding-bottom: 10px;
	margin: 0 80px 20px 0;
}
.movie-info input 
{
	margin: 10px   0  -15px 0; 
	display: block;
	height: 35px;
	width: 140px;
	color: white;
	font-size: 12px;
	margin-left:3px;
	border-radius: 3px;
}
.movie-info #boton_play
{
	background-color: #E6AD1C;
	border: 1px solid #E6AD1C; 
	padding-left: 10px;
}
.movie-info #boton_ticket
{
	background-color: #BA7705;
	border: 1px solid #BA7705; 
	
	
} 
.movie-info .fa-ticket, .fa-youtube-play
{
	color: white;
	position: relative;
	left: 15px;
	bottom: 10px;
}

